// Use this to write your custom SCSS
// .ytp-impression-link {
//   display: none !important;
// }

.dictionary-index-mobile {
  width: 33%;
  float: left;
  font-size: 1.8em;
  text-align: center;
}
